.main {
    display: flex;
    flex-direction: column;
    color: #262626;
    margin: 0% 20%;
    border: #262626 2px solid;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;

}

.banner {
    background-color: #262626;
    color: #f9f9f9;
    text-align: center;
    padding: 2%;
}

.education, .info, .work-exp, .skills {
    padding: 0% 2%;
}

hr {
    margin: 0% 3%;
    width: 95%;
    background-color: #262626;
    height: 2px;
    border: none;
    
}

.section-title {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.add-btn {
    display: none;
    padding: 0.5rem 1rem;
}

.section-title:hover .add-btn{
    display: block;
}
